<div id="wrapper">
    <h1>Yidong Liu</h1>
    <h2 id="blink"></h2>
    <p><a href="/music" target="_blank">Music</a></p>
    <p><a href="/video" target="_blank">Video</a></p>
</div>
<canvas></canvas>
<script src="js/drawStrip.js"></script>
<script src="js/blinkText.js"></script>