<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      {{#if music}}<link rel='stylesheet' href='/stylesheets/music.css' />{{/if}}
      {{#if video}}<link rel='stylesheet' href='/stylesheets/video.css' />{{/if}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
