<div class="music_player">
    <div class="artist_img">
        <img src="http://pichoster.net/images/2016/12/02/adele.jpg">
    </div>
    <div class="time_slider">
        <span class="runing_time">0:00</span>
        <input type="range" value="0">
        <span class="song_long">0:00</span>
    </div>
    <div class="now_playing">
        <p> now playing </p>
        <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
    <div class="music_info">
        <h2>adele</h2>
        <p class="song_title">Rolling in the deep</p>
        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class ="full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
    </div>
    <div class="controllers">
        <i class="fa fa-music" aria-hidden="true"></i>
        <!--<i class="fa fa-fast-backward" aria-hidden="true"></i>-->
        <i class="fa fa-play" aria-hidden="true"></i>
        <!--<i class="fa fa-fast-forward" aria-hidden="true"></i>-->
        <!--<i class="fa fa-retweet" aria-hidden="true"></i>-->
    </div>
</div>
<script src="js/music.js"></script>