<video poster="https://s3-us-west-2.amazonaws.com/yidong-sofia/yidong/Perfect_Hour.jpg" id="bgvid" playsinline autoplay muted loop>
    <source src="https://s3-us-west-2.amazonaws.com/yidong-sofia/yidong/Perfect_Hour.webm" type="video/webm">
    <source src="https://s3-us-west-2.amazonaws.com/yidong-sofia/yidong/Perfect_Hour.mp4" type="video/mp4">
</video>
<div id="relax">
    <button class="blink">Just Relax!</button>
</div>
<audio src="audio/ocean.mp3" autoplay loop preload="true"></audio>
<script src="js/video.js"></script>